@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.bounceInLeft {
  animation: bounceInLeft 1s ease-out;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.bounceInRight {
  animation: bounceInRight 1s ease-out;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  animation: fadeInUp 0.5s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRight {
  animation: fadeInRight 0.5s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl-left {
  float: left;
  text-align: right;
  margin-left: 4rem;
}

.fl-right {
  float: right;
  text-align: left;
  margin-right: 4rem;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.visible {
  visibility: hidden;
  opacity: 0;
}

.pos-fixed {
  position: fixed;
  top: 1rem;
  right: 1rem;
  opacity: 0.5;
}

.opacity-1 {
  opacity: 1 !important;
}

.text-center {
  text-align: center;
}

.bg-gray {
  background-color: #f7f7f7;
}

.margin-top-big {
  margin-top: 8rem;
}
@media screen and (max-width : 767px) {
  .margin-top-big {
    margin-top: 6rem;
  }
}

.margin-bottom-big {
  margin-bottom: 8rem;
}
@media screen and (max-width : 767px) {
  .margin-bottom-big {
    margin-bottom: 6rem;
  }
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.margin-top-small {
  margin-top: 1.5rem;
}

:root {
  --wrapper: 100%;
  --container: 118rem;
  --primary-font: "Lato", sans-serif;
  --light-blue: #8e9efc;
  --medium-blue: #5a73fc;
  --dark-blue: #1c3eff;
  --content-color: #777777;
  --black-color: #555555;
  --white-color: #ffffff;
  --light-gray: #f7f7f7;
  --yellow-color: #ffb900;
  --oranged-color: #ff7730;
  --light-green: #55c57a;
  --dark-green: #28b485;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width : 767px) {
  html {
    font-size: 47.5%;
  }
}

body {
  line-height: 1.4;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--content-color);
  padding: 3rem;
}
@media screen and (max-width : 767px) {
  body {
    padding: 0;
  }
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: var(--wrapper);
  margin: 0 auto;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
@media screen and (max-width : 767px) {
  .container {
    width: 100% !important;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.flex-1-of-2 {
  width: calc((100%-2rem) / 2);
}
@media screen and (max-width : 767px) {
  .flex-1-of-2 {
    width: 100%;
    padding: 0 2rem;
  }
}

.flex-1-of-3 {
  width: calc((100%-2rem* 2) / 3);
}

.btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3.5rem;
  border-radius: 10rem;
  transition: 0.25s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(1px);
  box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.4);
}
.btn--white {
  background-color: var(--white-color);
  color: var(--content-color) !important;
}
.btn--white::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  background-color: var(--white-color);
  z-index: -1;
  transition: all 0.25s;
}
.btn--white:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--blue {
  background-color: var(--medium-blue);
  color: var(--white-color) !important;
}
.btn--blue::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  background-color: var(--medium-blue);
  z-index: -1;
  transition: all 0.25s;
}
.btn--blue:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--text {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.3rem;
  text-decoration: none;
  border-bottom: 1px solid var(--medium-blue);
  transition: 0.25s;
}
.btn--text:link, .btn--text:visited {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.3rem;
  text-decoration: none;
  border-bottom: 1px solid var(--medium-blue);
  transition: 0.25s;
}
.btn--text:hover {
  color: var(--white-color);
  background-color: var(--medium-blue);
  text-decoration: none;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn--text:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--light-blue), var(--dark-blue));
  color: transparent;
  -webkit-background-clip: text;
  transition: 0.25s;
}
.heading-secondary:hover {
  transform: scale(1.1) skewY(5deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--content-color);
  font-weight: bold;
}
@media screen and (max-width : 767px) {
  .heading-tertiary {
    font-size: 1.8rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  color: var(--content-color);
  margin: 2rem 0;
  line-height: 1.7;
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url(../images/background1.jpg);
  background-size: cover;
  -webkit-clip-path: ellipse(62% 67% at 51% 27%);
  clip-path: ellipse(62% 67% at 51% 27%);
}
.header__top {
  display: inline-block;
}
.header__top-logo {
  margin: 2rem;
}
.header__top-logo img {
  height: 7rem;
}
.header__content {
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__content-title {
  font-size: 6.2rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}
@media screen and (max-width : 767px) {
  .header__content-title {
    letter-spacing: 0.75rem;
  }
}
.header__content-text {
  font-size: 2rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
@media screen and (max-width : 767px) {
  .header__content-text {
    letter-spacing: 0.75rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
}
@media screen and (max-width : 767px) {
  .header {
    background-position: center;
    -webkit-clip-path: ellipse(100% 67% at 51% 27%);
    clip-path: ellipse(100% 67% at 51% 27%);
  }
}

.navigation__button {
  position: relative;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__icon {
  display: inline-block;
  width: 4rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--content-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}
.navigation__icon::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 0;
  display: inline-block;
  width: 4rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--content-color);
  transition: all 0.25s;
}
.navigation__icon::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: 0;
  display: inline-block;
  width: 4rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--content-color);
  transition: all 0.25s;
}
.navigation__checkbox {
  position: fixed;
  top: 5rem;
  right: 6rem;
  display: none;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(70);
}
.navigation__checkbox:checked ~ .navigation__list {
  opacity: 1;
  visibility: visible;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__button {
  position: fixed;
  top: 5rem;
  right: 6rem;
  width: 7rem;
  height: 7rem;
  background-color: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}
@media screen and (max-width : 767px) {
  .navigation__button {
    top: 2rem;
    right: 2rem;
  }
}
.navigation__bg {
  position: fixed;
  top: 5.5rem;
  right: 6.5rem;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
  border-radius: 50%;
  z-index: 500;
  transition: transform 0.5s;
}
@media screen and (max-width : 767px) {
  .navigation__bg {
    top: 2.5rem;
    right: 2.5rem;
  }
}
.navigation__list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  z-index: 500;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}
.navigation__item {
  margin: 2rem;
}
.navigation__link:link, .navigation__link:visited {
  background-image: radial-gradient(150% 200% ellipse at 115%, #fff 0%, #fff 50%, transparent 50%);
  background-size: 250%;
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--white-color);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-weight: 300;
  transition: all 0.45s;
}
.navigation__link:hover {
  color: var(--medium-blue);
  background-position: 100%;
  transform: translateX(1rem);
}

.about {
  background-color: var(--light-gray);
  padding-top: 25rem;
  margin-top: -20rem;
  padding-bottom: 25rem;
}
.about__main {
  display: flex;
}
@media screen and (max-width : 767px) {
  .about__main {
    flex-direction: column;
  }
}
.about__images {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width : 767px) {
  .about__images {
    width: 100%;
    margin: 2rem 0;
  }
}
.about__content {
  width: 50%;
  padding-right: 3rem;
}
@media screen and (max-width : 767px) {
  .about__content {
    width: 85%;
    margin: 0 auto;
    padding: 0;
  }
}
.about__img {
  width: 50%;
  height: auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 0.2rem;
  outline-offset: 0.5rem;
}
.about__img-1 {
  transform: translateY(-2.5rem);
  z-index: 0;
  transition: 0.2s;
}
.about__img-1:hover {
  outline: 1rem solid var(--medium-blue);
  transform: translateY(-2.5rem) scale(1.1);
  z-index: 3;
}
@media screen and (max-width : 767px) {
  .about__img-1:hover {
    transform: none;
  }
}
@media screen and (max-width : 767px) {
  .about__img-1 {
    transform: none;
  }
}
.about__img-2 {
  transform: translate(-2rem, 1.5rem);
  z-index: 1;
  transition: 0.2s;
}
.about__img-2:hover {
  outline: 1rem solid var(--medium-blue);
  transform: translate(-2rem, 1.5rem) scale(1.1);
  z-index: 3;
}
@media screen and (max-width : 767px) {
  .about__img-2:hover {
    transform: none;
  }
}
@media screen and (max-width : 767px) {
  .about__img-2 {
    transform: none;
  }
}
.about__img-3 {
  transform: translate(5.5rem, -6rem);
  z-index: 2;
  transition: 0.2s;
}
.about__img-3:hover {
  outline: 1rem solid var(--medium-blue);
  transform: translate(5.5rem, -6rem) scale(1.1);
  z-index: 3;
}
@media screen and (max-width : 767px) {
  .about__img-3:hover {
    transform: none;
  }
}
@media screen and (max-width : 767px) {
  .about__img-3 {
    transform: none;
  }
}
@media screen and (max-width : 767px) {
  .about__img {
    width: 75%;
    height: 169px;
    margin: 1rem auto;
  }
}
@media screen and (max-width : 767px) {
  .about {
    padding-top: 20rem;
  }
}

.skill {
  padding: 20rem 0;
  margin-top: -25rem;
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.8), rgba(28, 62, 255, 0.8)), url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: ellipse(70% 50% at 50% 50%);
  clip-path: ellipse(70% 50% at 50% 50%);
}
.skill__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill__item {
  width: 21%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}
.skill__item:hover {
  transform: translateY(-1.5rem) scale(1.03);
  cursor: pointer;
}
.skill__item-icon {
  font-size: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, var(--light-blue), var(--dark-blue));
  color: transparent;
  -webkit-background-clip: text;
}
.skill__item h4 {
  margin: 2rem 0 2.5rem;
}
.skill__item p {
  font-size: 1.5rem;
  color: var(--content-color);
  line-height: 1.7;
}
@media screen and (max-width : 767px) {
  .skill__item {
    width: 70%;
    margin: 1rem auto;
  }
}
@media screen and (max-width : 767px) {
  .skill {
    -webkit-clip-path: ellipse(100% 50% at 50% 50%);
    clip-path: ellipse(100% 50% at 50% 50%);
    padding: 12rem 0;
  }
}

.courses {
  padding: 25rem 0 10rem;
  margin-top: -20rem;
  background-color: var(--light-gray);
}
.courses span {
  display: inline-block;
  text-align: center;
}
.courses__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width : 767px) {
  .courses__group {
    flex-direction: column;
  }
}
.courses__item {
  width: 29%;
  min-height: 45rem;
  position: relative;
  perspective: 150rem;
  cursor: pointer;
}
.courses__item:hover .courses__item-back {
  transform: rotateY(0);
}
@media screen and (max-width : 767px) {
  .courses__item:hover .courses__item-back {
    transform: none;
  }
}
.courses__item:hover .courses__item-front {
  transform: rotateY(-180deg);
}
@media screen and (max-width : 767px) {
  .courses__item:hover .courses__item-front {
    transform: none;
  }
}
.courses__item-card {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.8s;
  backface-visibility: hidden;
}
.courses__item-front {
  position: absolute;
  top: 0;
  left: 0;
}
.courses__item-front-heading {
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: ellipse(80% 70% at 50% 30%);
  clip-path: ellipse(80% 70% at 50% 30%);
}
.courses__item-front-heading--1 {
  background-image: linear-gradient(to right, var(--yellow-color), var(--oranged-color)), url(../images/involve1.jpg);
}
.courses__item-front-heading--2 {
  background-image: linear-gradient(to right, var(--light-blue), var(--dark-blue)), url(../images/involve2.jpg);
}
.courses__item-front-heading--3 {
  background-image: linear-gradient(to right, var(--light-green), var(--dark-green)), url(../images/involve3.jpg);
}
.courses__item-front-heading--title {
  position: absolute;
  bottom: 53%;
  right: 0;
  font-weight: lighter;
}
.courses__item-front-heading--title .slogan {
  float: right;
  color: var(--white-color);
  font-size: 2.8rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
}
.courses__item-front-heading--title .slogan:first-of-type {
  transform: translateY(1rem);
}
.courses__item-front-heading--title .slogan--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.courses__item-front-heading--title .slogan--2 {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.85), rgba(28, 62, 255, 0.85));
}
.courses__item-front-heading--title .slogan--3 {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85));
}
@media screen and (max-width : 767px) {
  .courses__item-front-heading--title {
    bottom: 58%;
  }
}
@media screen and (max-width : 767px) {
  .courses__item-front-heading {
    height: 45%;
  }
}
.courses__item-front-content {
  width: 100%;
  height: 50%;
  color: var(--content-color);
  padding-bottom: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.courses__item-front-content span {
  width: 60%;
  padding: 1.5rem 0;
  text-align: center;
}
.courses__item-front-content span:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}
@media screen and (max-width : 767px) {
  .courses__item-front-content span {
    padding: 1rem 0;
  }
}
@media screen and (max-width : 767px) {
  .courses__item-front-content {
    height: 30%;
    padding-bottom: 0;
  }
}
.courses__item-front--responsive {
  height: 25%;
  display: none;
}
@media screen and (max-width : 767px) {
  .courses__item-front--responsive {
    display: block;
    text-align: center;
    padding: 1rem 0;
  }
  .courses__item-front--responsive p {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white-color);
  }
}
.courses__item-back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  padding: 7rem 0;
  border-radius: 5rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  transform: rotateY(180deg);
}
.courses__item-back p {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.courses__item-back p:last-of-type {
  font-size: 6rem;
  font-weight: 100;
  margin: 2rem 0 6rem;
}
.courses__item-back--1 {
  background-image: linear-gradient(to right, #dada55, var(--oranged-color));
}
.courses__item-back--2 {
  background-image: linear-gradient(to right, var(--light-blue), var(--dark-blue));
}
.courses__item-back--3 {
  background-image: linear-gradient(to right, #86e9c8, var(--dark-green));
}
@media screen and (max-width : 767px) {
  .courses__item-back {
    display: none;
    transform: none;
  }
}
@media screen and (max-width : 767px) {
  .courses__item {
    width: 80%;
    min-height: 60rem;
    margin: 2rem auto;
  }
}

.testimonial {
  padding: 6rem 0;
  position: relative;
  overflow: hidden;
}
.testimonial__main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.testimonial__item {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 5rem 7rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
.testimonial__item:hover .testimonial__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.testimonial__item:hover .testimonial__img {
  filter: blur(0.3rem) brightness(0.7);
  transform: scale(1.01);
}
@media screen and (max-width : 767px) {
  .testimonial__item {
    width: 90%;
    border-radius: 70rem;
  }
}
.testimonial__shape {
  width: 15rem;
  height: 15rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  float: left;
  margin-right: 3rem;
  position: relative;
}
.testimonial__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
.testimonial__img {
  transform: translateY(-3rem);
  width: 100%;
  transition: all 0.5s;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.enroll {
  padding: 10rem 0;
  background-image: linear-gradient(to right, var(--light-blue), var(--dark-blue));
}
.enroll__main {
  width: 100%;
  background-image: radial-gradient(150% 200% ellipse at -15%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../images/background3.jpg);
  background-size: cover;
  border-radius: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
@media screen and (max-width : 767px) {
  .enroll__main {
    width: 90%;
    margin: 0 auto;
    background-position: center;
    background-image: radial-gradient(200% 200% ellipse at 15%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../images/background3.jpg);
  }
}
.enroll__form {
  width: 50%;
  padding: 6rem;
}
@media screen and (max-width : 767px) {
  .enroll__form {
    width: 100%;
  }
}

.form {
  color: inherit;
  font-size: 1.6rem;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  padding: 1.5rem 2rem;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  display: block;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--medium-blue);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--oranged-color);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input::-webkit-input-placeholder {
  color: var(--content-color);
}
.form__label {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.7rem 0 0 2rem;
  color: var(--black-color);
  transition: all 0.3s;
}
.form__radio-group {
  width: 45%;
  display: inline-block;
}
.form__radio-label {
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
  visibility: visible;
}
.form__radio-button {
  position: absolute;
  top: -0.4rem;
  left: 0;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid var(--medium-blue);
  border-radius: 10rem;
  display: inline-block;
}
.form__radio-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--medium-blue);
  border-radius: 50%;
  display: block;
  opacity: 0;
  visibility: hidden;
}

.footer {
  background-color: #333333;
  padding: 10rem 0;
}
.footer__logo-img {
  max-width: 20rem;
  margin: 0 auto;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
@media screen and (max-width : 767px) {
  .footer__bottom {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer__list {
  width: 28%;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid var(--white-color);
}
@media screen and (max-width : 767px) {
  .footer__list {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}
.footer__item-link {
  color: var(--white-color);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.25s;
}
.footer__item-link:hover {
  color: var(--medium-blue);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.05);
  text-decoration: none;
}
.footer__copyright {
  width: 33%;
  padding-top: 2rem;
  border-top: 1px solid var(--white-color);
  color: var(--white-color);
  line-height: 1.7;
}
@media screen and (max-width : 767px) {
  .footer__copyright {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width : 767px) {
  .footer {
    padding: 5rem 0;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 2000;
}
.popup__main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  display: flex;
  background-color: var(--white-color);
  border-radius: 5rem;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.3s;
  z-index: 101;
}
@media screen and (max-width : 767px) {
  .popup__main {
    width: 90%;
    flex-direction: column;
  }
}
.popup__left {
  width: 33.33%;
}
@media screen and (max-width : 767px) {
  .popup__left {
    width: 100%;
    display: flex;
    margin-top: 7rem;
    padding: 0 1rem;
  }
}
.popup__right {
  width: 66.67%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 5rem;
}
@media screen and (max-width : 767px) {
  .popup__right {
    width: 100%;
  }
}
.popup__text {
  color: var(--content-color);
  font-size: 1.4rem;
  line-height: 1.7;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid var(--light-gray);
}
@media screen and (max-width : 767px) {
  .popup__text {
    column-count: 1;
    column-gap: 0;
    column-rule: none;
  }
}
.popup__close:visited, .popup__close:link {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 3rem;
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.25s;
}
.popup__close:hover {
  color: var(--medium-blue);
  transform: scale(1.5);
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__main {
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (max-width : 767px) {
  .popup__img {
    width: 50%;
    height: 97px;
  }
}

/*# sourceMappingURL=main.css.map */
